$flex:flex;
$justify-c:center;
$justify-s:flex-start;
$justify-e:flex-end;
$justify-between:space-between;
$justify-around:space-around;
$justify-evenly:space-evenly;
$align-s:flex-start;
$align-c:center;
$align-e:flex-end;
$flex-d-r:row;
$flex-d-rr:row-reverse;
$flex-d-c:column;
$flex-d-cr:column-reverse;
$text-a:center;