$m-100: 100px;
$m-200: 200px;
$m-300: 300px;
$m-400: 400px;
$m-500: 500px;
$m-50 :50px;
$m-30 : 30px;



$p-10 : 10px;
$p-20 : 20px;
$p-30 : 30px;
$p-60 : 60px;
$p-100 : 100px;
$p-120 : 120px;
$p-150 : 150px;