



a:nth-child(4){
    background-color: yellow;
    color: red;
} 

a:nth-child(1){
    background-color: yellow;
    color: red;
} 

body :nth-child(6){
    background-color: yellow;
    color: red;

}


input{
    background-color: yellow;
    color: red;
}

.heading{
    background-color: yellow;
    color: red;
}

.head{
    background-color: yellow;
    color: red;
}

p:last-child{
    background-color: yellow;
    color: red;
}

h1:only-of-type{
    background-color: yellow;
    color: red;
}

section h1:last-child{
    background-color: yellow;
    color: red;
}
 
h1:nth-child(19){
    background-color: yellow;
    color: red;
}

h1:nth-child(22){
    background-color: yellow;
    color: red;
}

h1:nth-last-child(22){
    background-color: yellow;
    color: red;
}
div:nth-child(12) h1:nth-child(2){
    background-color: yellow;
    color: red;
}

h1:nth-last-child(11){
    background-color: yellow;
    color: red;
}

div:nth-last-child(2) h1:nth-child(1){
    background-color: yellow;
    color: red;
}

 div:nth-last-child(2) h1:nth-child(4){
    background-color: yellow;
    color: red;
} 