.option_1 {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 500px;
    padding-top: 100px;
    background: #f1b9de;
    width: 1300px;
    overflow: hidden;
}
.background {
    position: absolute;
    height: 250px;
    width: 100%;
    text-align: center;
    margin-left:  400px;
    margin-bottom:200px;
}

    
    .background::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100%;
        width: 1200px;
        height: 1200px;
        transform: translate(30%, -10%);
        background-color: #efa3d4;
}
	.background::before {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100%;
        width: 800px;
        height: 800px;
        background-color: #fef4eb;
        transform: translate(-91%, -83%);
        z-index: 0;
    }

.bg {
	text-align: center;
	display: inline-block;
} 
.box {
    height: 230px;
    width: 220px;
    background-color: #3167ee;
    top: 52px;
    position: absolute;
    right: 0px;
    left: 82px;
    border-radius: 30px;
    box-shadow: -10px 10px 0px 6px white;
}
.box h2 {
    color: white;
    text-align: center;
    font-size: 95px;
    padding-top: -50px;
} 
